<body>
	<section class="cuerpo">
    <h1>SALAS</h1>
    <div class="ref-to-new">
        <p>Cantidad de Salas: <%=room.length%></p>
    </div>
    <h2>Lista de Salas</h2>

    <a href="<%= newRoomPath %>">Agregar Sala</a>

    <div class="items">
        <% room.forEach(sala => { %>
            <div class="elemento">
                <h2><%= sala.type %></h2>
                <p>Capacidad para <%= sala.capacity %> personas</p>
            </div>
        <% })%>
		</div>
	</section>
</body>
