<body>

    <section class="cuerpo">
    <div class="title">
        <h1> Membresias </h1>
    </div> 
    <ul class="photos">
      <li class="photo">
        <h3>Membresía Full</h3>
        <p>Acceso a clases ilimitadas.</p>
        <p> 3 Sesiones mensuales con nutricionista.</p>
        <p>Planes semanales creados por tu entrenador</p>
        <p>Valor mensual: $75.000. </p>

      </li>

      <li class="photo">
        <h3>Membresía Flexible</h3>
        <p>Acceso a clases ilimitadas.</p>
        <p> 2 Sesiones mensuales con nutricionista.</p>
        <p>Planes cada 2 semanas creados por tu entrenador</p>
        <p>Valor mensual: $65.000. </p>

      </li>

      <li class="photo">
        <h3>Membresía Básica</h3>
        <p>Límite de 3 clases por semana.</p>
        <p>1 Sesiones mensual con nutricionista .</p>
        <p>Planes mensuales creados por tu entrenador</p>
        <p>Valor mensual: $55.000.</p>

      </li> 

    </ul> 
  </section>
</body>