<body>
    <section class="cuerpo">
      <div>
        <h3>Membresía Full</h3>
        <ul>
          <li>Acceso a clases ilimitadas.</li>
          <li> 3 Sesiones mensuales con nutricionista.</li>
          <li>Planes semanales creados por tu entrenador</li>
          <li>Valor mensual: $75.000. </li>
        </ul>
        <h3>Membresía Simple </h3>
        <ul>
          <li>Límite de 3 clases por semana.</li>
          <li>1 Sesiones mensual con nutricionista .</li>
          <li>Planes mensuales creados por tu entrenador</li>
          <li>Valor mensual: $55.000.</li>
        </ul>
      </div>
    </section>
  </body>