<body>
  <section class="cuerpo">
    <div>
      <h3>Membresía de id : <%= membership.user_id%></h3>
      <h3>Tipo : <%= membership.type%></h3>
      <h3>Inicio : <%= membership.start%></h3>
      <h3>Término : <%= membership.end%></h3>
    </div>
  </section>
</body>