<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css" />
</head>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#">Planes</a>
  <a href="#">Contáctanos</a>
  <a href="#">Conócenos</a>
</div>
<body>
    <header class="main-header">
      <section>
        <h1> GOGYM</h1>
      </section>
      <div  class = "content">
        <p>Bienvenido al gimnasio virtual</p>
        <a href ="#">Crear cuenta</a>
        <a href ="#">Ingresar</a>
      </div>
    </header>
    <section class="articles-grid">
      <article class="secondary-article">
        <section>
          <h3>Clases</h3>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Máquinas</h3>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Profesores</h3>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Salas</h3>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Entrenadores</h3>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Usuarios</h3>
        </section>
      </article>
  </section>
</body>
</html>