<body>
	<section class="cuerpo">
        <div class="title">
			<h1> Máquinas </h1>
        </div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
        <a  class="addthing" href= "<%= newMachinePath %>" > Agregar nueva máquina</a>
        <p>Cantidad de maquinas:  <%= machines.length %></p>
    </div>
    <% } %>
    <div id='machines-app'></div>
	</section>
</body>

