<body>
  <section class="cuerpo">
    <div class="elemento">
      <h4><%= machine.name%></h4>
      <img class="big" src="<%= cloudinary.url(machine.image) %>" />
      <h5>Descripción</h5>
      <p><%= machine.description%></p>
    </div>
    
  </section>
</body>