<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index máquinas</title>
    <link rel="stylesheet"  href="view.scss" >
</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#">Mi perfil</a>
    <a href="#">Máquinas</a>
    <a href="#">Clases</a>
    <a href="#">Reservas</a>
    <a href="#">Horas</a>
</div>
<body>
    <h1>SALAS</h1>
    <div class="ref-to-new">
        <p>Cantidad de Salas: <%=room.length%></p>
    </div>
    <h2>Lista de Salas</h2>

    <a href="<%= newRoomPath %>">Agregar Sala</a>

    <div class="items">
        <% room.forEach(sala => { %>
            <div class="elemento">
                <h2><%= sala.type %></h2>
                <p><%= sala.capacity %></p>
            </div>
        <% })%>
    </div>
</body>
</html>
