
.wrapper{
  position: relative;
  padding: 0 20px;
  text-decoration: none;
  height: 100px;
}

.title{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  background-color: black;
  opacity: 0.6;
  margin: auto;
  color: #fff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
}

.this-form{
  width: 80%;
  margin: auto;
  background: rgba(0,0,0,0.8);
  border-radius:5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
  opacity: 0.5;
  padding: 12px;
  box-sizing: border-box;
}

.field{
  display: flex;
  flex-direction: column;
  background: transparent;
  border-bottom: 2px solid #fff;
  margin: 10px 0;
  background: transparent;
  border-left: 0;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #fff;
  width: 100%;

  input{
    border-radius:5px;
    height: 20px;
  }
}

.field .text{
  width: 48%;
}

textarea{
  border-radius:5px;
}
