
.wrapper{
  position: absolute;
  top: 50%;
  width: 40%;
  padding: 0 20px;
}

.this-form{
  max-width: 550px;
  margin:0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.field{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  background: transparent;
  border-bottom: 2px solid #333;
  padding: 10 px;
  margin: 10px 0;
  background: transparent;
  border-left: 0;
  border-bottom: 2px solid #333;
  padding: 10px;
  color: #333;
  width: 100%;
}

.field .text{
  width: 48%;
}