
.centered {
  width: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 40px auto;
}
ul {
  padding: 0;
  margin: 0;
}
.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.photo {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}