@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #C3C7CA;
}

ul {
  list-style: none;
}

a { 
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-color: #60b4df;
  width: 100%;
  z-index: 1080;
  height: 3rem;
}

.navbar {
  display: flex;
}

.nav-links ul {
  flex: 2;
}

.nav-links .user-bar {
  flex: 3;
}

.nav-links ul a {
  display: inline-block;
  color: #F7F7FF;
  width: 25%;
  padding: 18px 30px;
  margin-right: -4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration:none;
}

.nav-links a:hover {
  background-color: #F7F7FF;
  color: black;
}

.nav-links a.active {
  background-color: #577399;
  color: #F7F7FF;
}

.cuerpo{
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0;
  padding: 0 10%;
  display: inline-block;
}

.inicio {
  color: #241f20;
  text-align: center;
}

.inicio p {
  font-size: 60px;
  font-weight: bold;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.inicio a{
  color:#F7F7FF;
  text-decoration: none;
  background: black;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 30px;
  margin: 20px;
}

.inicio h1{

  font-size: 60px;
  font-weight: bold;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;

}

.articles-grid{
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  color: #333;
  font-size: 20px;
}

article {
  color: #F7F7FF;
  border-radius: 20px;
  margin: 1em 0;
}

.secondary-article section{
  color: #333;
  padding: 20px;
  border: 2px solid #F7F7FF;
  border-radius: 10px;
 
  h3{
    text-align: center;
  }
  p {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration:none;
    a:link, a:visited, a:active {
      text-decoration:none;
      color: #333;
  }
  }
  a {
    color: #AB311B;
    font-size: 16px;
  

  }
}

.footer {
  background-color: #1f2123;
  padding: 0 10%;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    color: #F7F7FF;
  }
}

@media screen and (min-width: 520px) {
  .articles-grid{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 900px) {
  .articles-grid{
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}