* {
  margin: 0;
  padding: 0;
  background-color: #C3C7CA;
}

.topnav {
  display: flex;
  position: sticky;
  top: 0;
  
}

.topnav .logo {
  background-color: black;
  color: #F7F7FF;
  width: 100px;
  padding: 18px 40px;
  box-sizing: border-box;
  text-align: center;
}

.topnav ul {
  flex: 1;
  
}
.topnav ul a {
  display: inline-block;
  background-color: black;
  color: #F7F7FF;
  width: 25%;
  padding: 18px 30px;
  margin-right: -4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration:none;
}

.topnav a:hover {
  background-color: #F7F7FF;
  color: black;
}

.topnav a.active {
  background-color: #577399;
  color: #F7F7FF;
}

body{
  font-family: 'calibri';
  width: 80%;
  margin: 0;
  padding: 0 10%;
}
.inicio {
  color: #241f20;
  text-align: center;
}

.inicio p {
  font-size: 60px;
  font-weight: bold;
  margin: 1em 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.inicio a{
  color:#F7F7FF;
  text-decoration: none;
  background: black;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 30px;
  margin: 20px;
}

.articles-grid{
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  color: #333;
  font-size: 20px;
}

article {
  color: #F7F7FF;
  border-radius: 20px;
  margin: 1em 0;
}

.secondary-article{
  color: #333;
  padding: 20px;
  border: 2px solid #F7F7FF;
  border-radius: 10px;
  h3{
    text-align: center;
  }
  p {
    color: #333;
    font-family: "Futura", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration:none;
    a:link, a:visited, a:active {
      text-decoration:none;
      color: #333;
  }
  }
  a {
    color: #AB311B;
    font-size: 16px;

  }
}

.footer {
  background-color: #1f2123;
  height: 50px;
  padding: 40px 35px;
  .footer-wrapper{
    text-align: center;
    font-size: 15px;
    h3 {
      background-color: #1f2123;
      color: #F7F7FF;
    }
  }
}

@media screen and (min-width: 520px) {
  .articles-grid{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 900px) {
  .articles-grid{
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}