@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #C3C7CA;
}

ul {
  list-style: none;
}

a { 
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-color: #60b4df;
  width: 100%;
  z-index: 1080;
  height: 4rem;
}

.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
}

.logo-container{
  flex:1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links{
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 4rem;
  span {
    font-weight: 300;
  }
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
}

.nav-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link > a {
  line-height: 4rem;
  color: #fff;
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.nav-link a:hover {
  transform: scale(1.5);
  font-size: 1.4rem;
}


.cuerpo{
  position: relative;
  font-family: 'Roboto', italic, sans-serif;
  height: calc(100vh - 4rem);
  width: 80%;
  margin: 0;
  padding: 0 10%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.inicio {
  color: #241f20;
  text-align: center;
  padding: 50px 0;
}

.inicio p {
  font-size: 60px;
  font-weight: bold;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.inicio a{
  color:#F7F7FF;
  text-decoration: none;
  background: #60b4df;
  padding: 5px 150px;
  border-radius: 150px;
  font-size: 20px;
  margin: 20px;
}

.articles-grid{
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  color: #333;
  font-size: 20px;
}

article {
  color: #F7F7FF;
  border-radius: 20px;
  margin: 1em 0;
}

.secondary-article section{
  color: #333;
  padding: 20px;
  border: 2px solid #F7F7FF;
  border-radius: 10px;
  h3{
    text-align: center;
  }
  p {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration:none;
    a:link, a:visited, a:active {
      text-decoration:none;
      color: #333;
  }
  }
  a {
    color: #AB311B;
    font-size: 16px;

  }
}

.footer {
  background-color: #1f2123;
  padding: 0 10%;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    color: #F7F7FF;
  }
}

@media screen and (min-width: 520px) {
  .articles-grid{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 900px) {
  .articles-grid{
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}