//@import './style.scss';
@import './layout';
@import './hello';
@import './_form';
@import './contenidos';
@import './common.scss';
@import './chat.scss';
//@import './view';
@import './links.scss';
@import './dashboard.scss';
@import './profile.scss';
@import './charts.scss';


