.navbar {
  display: flex;
}

.nav-links ul {
  flex: 2;
}

.nav-links .user-bar {
  flex: 3;
}

.nav-links ul a {
  display: inline-block;
  color: #F7F7FF;
  width: 25%;
  padding: 18px 30px;
  margin-right: -4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration:none;
}

.nav-links a:hover {
  background-color: #F7F7FF;
  color: black;
}

.nav-links a.active {
  background-color: #577399;
  color: #F7F7FF;
}