.elemento{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background: #F7f7FF;   
}

.ref-to-new a{
    
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
    
.items h2{
  
    font-family: 'calibri';
    height: 50px;
    margin: 10px 30px;
    padding: 10px;
    
}

.items button{
    max-height: 35px;
    max-width: 135px;
    color: #F7F7FF;
    text-decoration: none;
    background: black;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px; 
}

    
.items p{
   margin-right: auto;
}



    