
<body>
    <section class="cuerpo">
    <div class="title">
        <h1> Entrenadores </h1>
    </div> 
    <div class="start">
        <p>Nuestro Objetivo es alcanzar tus Metas</p>
    </div>
    <div class="container-entrenador">
        <p>Todos nuestros profesionales están capacitados y su objetivo es cumplir tus metas. 
            Sus entrenamientos son personalizados a tus necesidades.</p>
    </div>
    <ul class="photos">
        <li class="photo">
          <h3>Entrenamientos personalizados</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/v1606313188/entrenadores/persinal4_erjyc3.jpg" />
        </li>
        <li class="photo">
          <h3>Objetivos claros</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_175,w_288/v1606312738/entrenadores/personal2_rgwkwt.jpg" />
        </li>
        <li class="photo">
          <h3>Disponibilidad 24/7</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_175,w_288/v1606312737/entrenadores/personal3_fclvc1.jpg" />
        </li>          
      </ul> 
    </div>
	</section>
</body>
