<body>
  <section class="cuerpo">
    <div class="title">
      <h3>Crea tu cuenta</h3>
    </div>
    


    <form method="post" action="<%= submitUserPath%>">

      <div class="wrapper">
        <div class="this-form">
          <div id="new-user-form-app" data-is-admin="<%isAdmin%> "></div>
          <div class="actions">
            <% if (user.isNewRecord) { %>
              <input class="formlink" type="submit" name="create" value="Crear" />
            <% } %>
          </div>
        </div>
      </div>
    </form>


  </section>
</body>
