<body>
	<section class="cuerpo">
    <div class="title">
			<h1> Nutricionistas </h1>
    </div>
    <div class="start">
        <p>Nuestro Objetivo es alcanzar tus metas</p>
    </div>
    <div class="container-entrenador">
        <p>Todos nuestros nutricionistas están capacitados y su objetivo es cumplir tus metas.
            Tendrás seguimiento continuo a tu alimentación. Especialistas que se adaptan a tus expertos 
            en todo tipo de dietas.
        </p>
    </div>
    <ul class="photos">
        <li class="photo">
          <h3>Alimentación sana</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/v1606577919/nutricionistas/nutri4_i909ev.jpg" />
        </li>
        <li class="photo">
          <h3>Dietas holísticas</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_175,w_288/v1606677393/nutricionistas/holistica_b0f7wj.jpg" />
        </li>
        <li class="photo">
          <h3>Veganos</h3>
          <img src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_175,w_288/v1606677645/nutricionistas/vegano_oro3jl.jpg" />
        </li>          
      </ul> 
	</section>
</body>
